body {
    margin: 0px;
    height: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    border-bottom: 1px gray solid;
  }
  
  .navbar-items {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
    width: 5%;
    text-align: center;
  }
  
  .menu img {
    width: 30px;
    height: 30px;
  }
  
  .title {
    width: 60%;
    text-align: center;
  }
  
  .title a {
    color: black;
    text-decoration: none;
  }

  .cart a {
    color: black;
    text-decoration: none;
  }
  
  .search {
    width: 5%;
  }
  
  .search img {
    width: 30px;
    height: 30px;
  }
  
  .cart {
    width: 30%;
    text-align: center;
    border-left: 1px solid lightgrey;
  }

  .cart a {
    color: black;
    text-decoration: none;
  }

  .badge {
    background-color: lightblue;
    border-radius: 50%;
    padding: 5px 10px;
    color: white;
  }
  
  .content-items {
    width: 100%;
    display: flex;
  }
  
  .sidebar {
    width: 5%;
    text-align: center;
  }
  
  .sidebar img {
    width: 35px;
    height: 35px;
    padding-top: 25px;
  }
  
  .list-menu {
    width: 65%;
  }
  
  .cart-list {
    width: 30%;
    margin-top: 80px;
  }
  
  .list-menu {
    background-color: lightgrey;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .card {
    width: 33%;
    margin-top: 20px;
    text-align: center;
  }

  .card img {
    height: 180px;
    width: 220px;
    border: 1px black hidden;
    border-radius: 10px;
  }
  
  .card p {
    text-align: left;
    margin-left: 35px;
    margin-top: 2px;
  }
  
  .card h3 {
    text-align: left;
    margin-top: -15px;
    margin-left: 35px;
  }
  
  .cart-list {
    width: 30%;
    margin-top: 10px;
    border: 1px hidden lightgrey;
  }
  /* Page 2 css start */
  .cart-list .order {
    width: 100%;
    display: flex;
  }

  .order .price {
    width: 25%;
    padding-top: 47px;
    padding-left: 80px;
  }

  .cart-list .order .card img {
    height: 80px;
    width: 80px;
    padding-left: 0px;
    margin-left: -10px;
  }

  .pagination {
    display: inline-block;
  }

  .pagination a {
    color: green;
    font-weight: bold;
    float: left;
    margin-top: 5px;
    padding: 2px 8px;
    text-decoration: none;
    border: 1px solid green;
    background-color: lightgreen;
  }

  .pagination a.active {
    background-color: white;
  }

  .checkout h2 {
    margin-top: 200px;
    margin-left: 5px;
    word-spacing: 180px;
  }

  .checkout p {
    margin-bottom: 1px;
    padding-left: 7px;
  }
  .checkout .buy button {
    width: 95%;
    background-color: royalblue;
    padding: 10px;
    margin: 350px 5px 5px 5px;
    color: white;
    font-weight: bold;
    font-size: larger;
  }

  .checkout .nobuy button {
    width: 95%;
    background-color:rgb(216, 18, 117);
    padding: 10px;
    margin: 5px 5px 5px 5px;
    color: white;
    font-weight: bold;
    font-size: larger;
  }
/* Page 3 css start */
  .black {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
  }

  .popup {
    position: fixed;
    top: 10%;
    right: 25%;
    bottom: 25%;
    left: 25%;
    height: 80%;
    width: 40%;
    background-color: white;
    align-content: stretch;
    border: 1px hidden black;
    border-radius: 5px;
    padding: 20px;
  }

  .popup .print button {
    width: 80%;
    background-color: rgb(216, 18, 117);
    padding: 10px;
    margin: 30px 5px 0px 50px;
    color: white;
    font-weight: bold;
    font-size: larger;
    border: 1px hidden black;
    border-radius: 10px;
  }

  .popup h4 {
      margin: 5px 0px 5px 0px;

  }
  .popup .send button {
    width: 80%;
    background-color: royalblue;
    padding: 10px;
    margin: 0px 5px 5px 50px;
    color: white;
    font-weight: bold;
    font-size: larger;
    border: 1px hidden black;
    border-radius: 10px;
  }

  @media (max-width: 768px) {
    .menu {
      width: 15%;
      text-align: center;
    }

    .title {
      width: 45%;
      text-align: center;
    }

    .search {
      width: 10%;
    }
    .card {
      width: 100%;
      margin-top: 20px;
      text-align: center;
    }

    .sidebar {
      width: 15%;
      text-align: center;
    }
    
    .sidebar img {
      width: 50px;
      height: 50px;
      padding-top: 25px;
    }
  }
  